* {
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: inherit;
  }
}
$primary: rgba(14, 12, 12, 0.8);
$secondary: rgb(30, 238, 245);
$onhover: rgb(255, 250, 200);
body {
  font-family: "Montserrat";
  font-size: 14px;
}
header {
  background: $primary;
  min-height: 70px;
  font-weight: bold;
  .logo {
    float: left;
    padding: 1rem 8rem 1rem 5rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }
  nav {
    float: right;
    ul {
      display: flex;
      margin-right: 5rem;
      li {
        list-style: none;
        padding: 30px 30px 20px;
        color: white;
      }
      li:hover {
        background: $secondary;
      }
    }
  }
}
.right-menu {
  position: fixed;
  top: 40%;
  right: 10px;

  border-radius: 0.5rem;
  background: $primary;
  width: 50px;

  ul li {
    list-style: none;
    height: 60px;
    width: 100%;

    padding-top: 20px;

    a {
      color: white;
      padding: 20px 15px 10px 15px;
      border-radius: 0.5rem;
      font-size: 1.3rem;
    }
  }
  li:hover {
    background: $secondary;
    border-radius: 0.5rem;
  }
}
.container {
  width: 100%;
  height: 90vh;
}
.conteudo {
  display: flex;
  width: 100%;

  p {
    padding: 2rem 12rem;
    text-align: center;
    line-height: 25px;
  }
}

.image-left {
  width: 40%;
  padding: 5%;

  img {
    height: 20rem;
    width: 20rem;
    border: 2px solid black;
    border-radius: 30%;
    position: sticky;
    top: 150px;
  }
}
.current {
  color: grey;
}

.contact-info {
  position: absolute;
  top: 20%;
  height: 120vh;
  right: 30%;
  width: 50%;
  background: $primary;
  border-radius: 1rem;
  padding: 40px;
  color: white;
  line-height: 23px;
}
.name {
  color: $secondary;
  margin-bottom: 20px;
}
.topbar {
  position: sticky;
  top: 0px;
  min-height: 60px;
  color: white;
  width: 100%;
  font-weight: bold;
  background: rgba(14, 12, 12, 0.8);

  ul {
    float: right;
    margin-right: 5rem;
    display: flex;
    text-decoration: none;
    list-style: none;
    li {
      padding: 20px;
    }
    li:hover {
      cursor: pointer;
      background: $secondary;
    }
  }
}

.origin {
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
}
